body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("image/mesh-48.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_me {
    background-color: black;
    color: white;
    text-decoration-line: none;
    padding: 10px;
}

.contact_me:hover + .hide {
    display: block;
}

.hide {
    display: none;
    padding: 10px;
    background-color: black;
    color: white;
}

.vh-10 {
    height: 10vh;
}

.vh-90 {
    height: 90vh;
} 

.kosit {
    border-radius: 50%;
}